.brewery-list__item {
  width: 90%;
  height: 100px;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
}
.brewery-list__item-name {
  margin: 10px 0;
}
.brewery-list__item-city {
  margin: 0;
}
.brewery-list {
  margin: 0 auto;
  width: 90%;
  padding: 10px 0 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1em;
}
.main-page {
  display: flex;
  flex-direction: column;
}

.main-page__title {
  margin: 20px auto;
}
.brewery-list__link {
  text-decoration: none;
  color: black;
}

.brewery-list__item:hover {
  background-color: #fbbc05;
}
